// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment-li {
  background-color: rgb(237, 239, 242);
  margin-bottom: 3px;
  list-style: none;
  height: auto;

}


.comment-name-body {
  background-color: rgb(237, 239, 242);
}

.comment-name-body > h3 {
  margin: 0;
  color: #646d7a;
  font-size: 12px;
  line-height: 20px;
  font-family: Segoe UI WestEuropean,Segoe UI,Segoe UI Emoji,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 15px;
}

.comment-name-body > p {
  font-family: Segoe UI WestEuropean,Segoe UI,Segoe UI Emoji,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 15px;
  color: #343A41;
}

h3 > h4 {
  display: inline-block;
  font-size: 14px;
  color: #646D7A;
  font-weight: 400;
  margin: 0;
}


#user-icon {
  font-size: 32px; 
  margin-left: 15px;
  
}

//comment form

.comment-form{
  // width: 370px;
  min-height: 80px;
  padding-bottom: 15px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: Segoe UI WestEuropean,Segoe UI,Segoe UI Emoji,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  user-select: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  // margin-left: 40px;
}

.comment-textarea{
  width: 500px;
  min-height: 80px;
  margin-top: 20px;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark-color(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textarea;
  background-color: -internal-light-dark-color(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font: 400 13.3333px Arial;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
  border-image: initial;
  padding: 2px;
}

.comment-form > input {
  color: rgb(255, 255, 255);
  background-color: rgb(56, 108, 187);
  text-align: center;
  float: right;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  padding-top: 7px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 15px;
  cursor: default;
  border-color: rgb(56, 108, 187);
  border-radius: 2px;
  transition: all 0.05s ease-out 0s;
  border-width: 1px;
  border-style: solid;
}

#form-li {
  display: flex; 
  height: 130px;
  justify-content: flex-end;
}
.comment-form-div {
  margin-right: 10px;
  display: flex;
  align-items: center;
  min-height: 64px; 
  width: 584px;
  background-color: rgb(237, 239, 242);
  margin-left: 40px;
  // justify-content: space-around;
}

.comment-index-div{
  margin-top: 10px;
}

.button-as-link2 {
  background-color: #fff;
  border: 1px solid #dde0e6;
  color: #646d7a;
  display: block;
  font-size: 1.5rem;
  line-height: 5.5rem;
  padding: 0 4px 0 14px;
  text-decoration: none;
  width: 532px;
  text-align: left;
  height: 32px;
  background: 0 0;
  font: inherit;
  cursor: pointer;
  overflow: visible;
  font-family: Segoe UI WestEuropean,Segoe UI,Segoe UI Emoji,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  -webkit-appearance: button;
  margin-right: 20px;


  background-color: #fff;
  color: #646d7a;
  display: block;
  padding: 6px 8px;
  text-decoration: none;
  text-align: left;
}