.feed-header-nav {
  background-color: green; 
  width: 100%;
  height: 50px;
  color: white;
}

.feed-header-nav {
  display: flex; 
  justify-content: space-between;
}

.feed-header-nav-icons {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.left-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.fas {
  position: relative;
  margin-left: 5px;
  margin-right: 5px; 
  padding: 16px 10px;
  
}

.far {
  font-size: 35px;
}

.name-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding-left: 5px;
}

.fas:hover, .name-div:hover {
  background-color: black;
}

.name-div > h4 {
  margin-right: 5px;
}

.groups-bar {
  width: 200px;
  background-color: lightgray;
  min-height: 1073px;
  margin: none;
}

.groups-ul > li {
  list-style: none;
}

//FEED CONTENT STYLING

.feed-main {
  width: 1000px;
  background-color: #fff;
}

.feed-content {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}



.feed-post-form-container {
  margin-bottom: 50px;
  border: 1px solid #dde0e6;
}

.feed-main-icons {
  background-color: khaki;
}


//form

.feed-post-form{
  
}

.form-text-area{
  width: 666px;
  min-height: 100px;
  padding-bottom: 15px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  font-family: Segoe UI WestEuropean,Segoe UI,Segoe UI Emoji,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  outline: none;
  user-select: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.feed-post-form > input {
  color: rgb(255, 255, 255);
  background-color: rgb(56, 108, 187);
  text-align: center;
  float: right;
}


.newsfeed-convo-item {
  height: 100px;
  background-color: hotpink;
  margin: 40px 5px;
  list-style: none;
}

//right bar
.feed-rightbar {
  background-color: #fff; 
  width: 240px;
  margin: 0 10px;
}


