// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{ 
  margin: 0;
}

.login-form-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  vertical-align: baseline;
  height: auto;
  background-color: rgb(228, 228, 228); 
}

.login-header {
  color: #0072c6;
  text-decoration: none;
  font-weight: 700;
  width: 100%;
  // margin-left: auto;
  // margin-right: auto;
  min-height: 56px;
  position: relative;
  z-index: 6;
  margin: 0 auto;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.35);
  // display: flex;
  // justify-content: space-between;; 
  background-color: whitesmoke;
  padding-left: 30px;
}
.login-header-div{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-header h1 {
  // position: relative;
  // left: 40px;
  font-weight: 100;
  font-size: 40px;
}

.login-header h4 {
  position: relative; 
  right: 40px;
  font-weight: 100;
}

.login-content h2, h4{
  font-weight: 600;
}

.aside-links {
  text-decoration: none;
  color: #0072c6; 
}

.session-submit{
  margin-top: 8px;
}

.session-submit:hover {
  background-color: darkgreen;
}

.form-bottom {
  margin-top: 60px;

}

.form-a {
  text-decoration: none;
  font-size: 14px;
  color: #0072c6;
}

.login-aside {
  position: relative; 
  margin-top: 30px; 
  padding-top: 40px;
  padding-left: 20px;
  margin-bottom: 300px;
  border-left: 1px solid gray;
  padding-bottom: 200px;
  margin-right: 20px;
}

#email-button {
  margin-bottom: 35px;
}

.login-input {
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 24px;
  border: solid 1px #d6d6d6;
  // padding: 8px 20px 6px 10px;
  width: 597px;
  height: 42px;
  box-shadow: inset 0 0 1px 0 rgba(0,0,0,.2);
}

.login-content {
  padding-top: 30px;
  padding-left: 50px;
  display: flex; 
  justify-content: space-between;
  background-color: rgb(228, 228, 228); 
  height: 100%;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.login-footer {
  background-color: whitesmoke;
  display: flex; 
  justify-content: space-between;
  // position: absolute; 
  bottom: 0;
  width: 100%;
}

.login-footer > ul {
  list-style-type: none;
}

.login-footer li {
  float: left;
  margin: 5px;
}

.login-footer h3 {
  color: gray;
  margin-right: 20px;
}

.session-submit {
  margin-top: 15px;
  vertical-align: middle;
  display: inline-block;
  padding: 8px 15px 9px;
  border-width: 1px;
  border-style: solid;
  border-color: #386cbb;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  background: green;
  font-size: 18px;
  width: 90px;

}

.errors-modal {
  border-color: #9e3028;
  color: #9e3028;
  background-color: #fdf5f5;
  border: 1px solid;
  margin: 20px auto 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 646px;
  z-index: 5;
  box-shadow: 0 0 10px #646d7a;
  
}


