
.splash-header {
  display: flex;
}



.splash-nav > ul {
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  padding: 0;
  margin: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  white-space: nowrap;
  font-size: 13px !important;
  float: left;
  position: relative; 
  left: 15px;
  top: 4px;
}

.splash-nav li {
  margin: 10px;
  float: left;
  display: inline-block;
  word-break: break-word;
  padding: 0!important;
  font-size: 100%!important;
  line-height: normal!important;
  text-align: -webkit-match-parent;
  font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-decoration: none;
}

li > a {
  text-decoration: none;
  color: #262626
}

li > a:hover{
  text-decoration: underline;
}

.splash-content {
  background-image: image_url('people_working.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .8;
  background-color: #367eeb;
  background-blend-mode: multiply;
  color: #fff;
  height: 600px; 
}

.splash-content-nav {
  border-bottom: 1px solid lightslategray;
  padding-left: 40px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

.splash-button {
  text-decoration: none;
  height: auto; 
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  // color: #fff;
  font-family: Segoe UI WestEuropean,Segoe UI,Segoe UI Emoji,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  padding: 7px 15px 9px;
  border-style: inherit;
  cursor: pointer;
  border-radius: 1px;
  margin: 0;
  margin-left: 14px;
  color: #f3f5f8;
  background-color: rgba(56,108,187,.9);
  border: solid 1px rgba(255,255,255,.45);
}

.splash-button-div {
  margin-right: 40px;
  position: relative;
  top: 15px;
}

#log-in {
  background-color: #343a41;
}


.splash-content{ 
  font-family: Segoe UI WestEuropean,Segoe UI,Segoe UI Emoji,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  
}



.splash-content h2 {
  font-weight: 300;
}

.splash-content h1 {
  font-size: 2.625rem;
  line-height: 1.33;
  font-weight: 400;
  margin: 0 0 9px 0;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

.splash-content p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.6;
  margin: 0 0 48px 0;
  width: 547px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
    
}

.splash-content-div{
  position: relative;
  top: 150px; 
  left: 200px;
}

.splash-img {
  
  height: auto; 
  width: 108px;
  outline-color: transparent !important;
  outline-style: none !important;
  // vertical-align: middle;
  float: left;
  position: relative; 
  left: 40px;
  top: 20px; 
}